/* Definir variables CSS en la raíz con la nueva paleta de colores */
:root {
    --font-family-base: 'Poppins', sans-serif;
    --font-family-heading: 'Merriweather', serif;
    --font-size-base: 20px; /* Tamaño de fuente base */
    --color-primary: #054a5e; 
    --color-secondary: #fcf808; 
    --color-tertiary: #06da3b;
    --color-gray1: #758488; 
    --color-gray2: #516064;
    --color-blue: #1c5ce6;
    --color-bluee: #1c84e6;
    --padding-base: 20px;
    --border-radius: 8px;
    --color-input-text: #cecfd1; /* Color para el texto de ingreso */
    --color-result-text: #c4c3c3; /* Color para el texto de resultado */
    --color-button-text: #efff0b; /* Color para el texto de los botones */
    --color-border: #f9fd11; /* Color del borde para los botones */
}
/* Reset de CSS para evitar inconsistencias entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos para el cuerpo */
body {
    font-family: var(--font-family-base);
    background-color: var(--color-primary);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 10px;
}

/* Estilos para el encabezado */
header {
    width: 100%;
    background-color: var(--color-bg); /* Usa el mismo color de fondo que el cuerpo */
    padding: var(--padding-base);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Necesario para posicionar el título correctamente */
}

/* Estilo general para el logo dentro de la clase .logo */
.logo img {
    width: 100px; /* Ajusta el ancho del logo según sea necesario */
    height: auto; /* Mantiene la proporción del logo */
    max-width: 100%; /* Asegura que el logo no exceda el contenedor */
}

h1.page-title {
    font-family: var(--font-family-heading);
    font-size: 2rem;
    color: var(--color-secondary);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 25px var(--color-secondary), 0 0 5px var(--color-secondary);
}

/* Contenedor principal que ocupa todo el espacio disponible entre el header y el footer */
main {
    flex: 1;
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los contenedores izquierdo y derecho */
    align-items: stretch; /* Asegura que los contenedores se estiren para ocupar todo el espacio disponible */
    width: 80%;
    max-width: 1200px;
    padding: var(--padding-base);
    background-color: var(--color-gray2);
    border-radius: var(--border-radius);
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para el contenedor izquierdo */
.left-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-gray2);
    height: 100%; /* Ocupa toda la altura disponible del contenedor principal */
}

.text-input {
    width: 100%; /* Ocupa el ancho completo del contenedor padre */
    flex: 1; /* Permite que el textarea se expanda para ocupar el espacio disponible */
    padding: 80px; /* Espacio interno dentro del contenedor, ajusta según sea necesario */
    background-color: var(--color-text); /* Fondo opcional para destacar el contenedor */
    box-sizing: border-box; /* Incluye padding y border en el cálculo de width y height */
    min-height: 500px; /* Altura mínima del contenedor, ajusta según sea necesario */
    margin-bottom: 160px; /* Ajusta el margen inferior si es necesario */
    border: none;
    font-size: var(--font-size-base);
    font-family: var(--font-family-base); /* Asigna la fuente base al área de texto */
    outline: none; /* Quita el borde de enfoque */
    color: var(--color-input-text); /* Cambia el color del texto en el área de ingreso */
    font-family: var(--font-family-base);
}

.text-input::placeholder {
    color: var(--color-left-container-text); /* Aplica el color deseado al texto del placeholder */
}

.alert {
    margin: auto; /* Centra el aviso horizontalmente */
    margin-bottom: 60px; /* Espacio entre el aviso y los botones */
    margin-top: auto; /* Empuja el aviso hacia arriba, si es necesario */
    text-align: center; /* Centra el contenido del aviso */
}

.alert .fas {
    color: var(--color-secondary);; /* Cambia el color del icono del aviso */
    font-size: 17px; /* Ajusta el tamaño del texto si es necesario */
}

.alert p {
    color:var(--color-secondary) !important; /* Cambia el color del texto del aviso */
    font-family: var(--font-family-base); /* Asigna la fuente base al texto del aviso */
    font-size: 17px; /* Ajusta el tamaño del texto si es necesario */
}

.button-frame {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Estilos para el contenedor derecho */
.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray1);
    border-radius: var(--border-radius);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Agrega sombra al contenedor derecho */
}

/* Ajustes para los elementos dentro del contenedor derecho */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-image {
    transform: translate(0, 99px); /* Mueve la imagen 20px a la derecha y 10px hacia abajo */
    width: 336px; /* Ancho fijo de la imagen */
    height: 304px; /* Alto fijo de la imagen */
    object-fit: cover; /* Asegura que la imagen se ajuste dentro de las dimensiones sin deformarse */
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1; /* Permite que el contenedor de mensaje ocupe el espacio disponible */
}

h3.message-default {
    font-family: var(--font-family-heading);
    font-size: 28px;
    color: var(--color-blue); /* Color para h3 */
    margin-bottom: 40px; /* Espacio inferior opcional */
}

h4.message-prompt {
    font-size: 22px;
    font-family: var(--font-family-heading);
    color: var(--color-secondary); /* Color para h4 */
}

.text-output {
    font-size: var(--font-family-base);
    font-family: var(--font-family-base);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    margin-bottom: 300px;
    min-height: 500px; /* Altura mínima del contenedor, ajusta según sea necesario */
    border: none;
    outline: none; /* Quita el borde de enfoque */
    color: var(--color-result-text); /* Cambia el color del texto en el área de resultado */
    font-size: var(--font-size-base);
}

.copy-btn {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    border: 2px solid var(--color-border);
    cursor: pointer;
    background-color: var(--color-tertiary);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    display: block; /* Asegura que el botón se comporte como un bloque */
    transform: translateY(-110px); /* Ajusta este valor para mover el botón hacia arriba */
    margin: auto; /* Centra el botón horizontalmente */
    color: var(--color-blue); /* Cambia el color del texto en el botón de copiar */
    border-radius: var(--border-radius);
}

textarea {
    width: 100%;
    height: auto;
    padding: 50px;
    font-size: var(--font-size-base);
    border-radius: var(--border-radius);
    resize: none;
}

button {
    padding: 10px 30px;
    font-size: var(--font-size-base);
    border: 2px solid var(--color-bluee);
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--color-blue);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: var(--font-family-heading);
    color: var(--color-button-text); /* Cambia el color del texto en los botones */
    font-family: var(--font-family-base);
}

button:hover {
    background-color: var(--color-secondary);
    color: var(--color-blue); /* Cambiar el color del texto al pasar el cursor */
    border-color: var(--color-secondary); /* Cambiar el color del borde al pasar el cursor */
}

p {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
}

/* Estilos para el pie de página */
footer {
    padding: var(--padding-base);
    background-color: var(--color-bg); /* Usa el mismo color de fondo que el cuerpo */
    text-align: center;
}

footer p {
    font-size: 0.9rem;
    font-family: var(--font-family-base); /* Asigna la fuente base al texto del pie de página */
    color: var(--color-gray1); /* Cambia el color del texto en el pie de página */
}


/* Media Query para Tablets (ancho máximo de 768px) */
@media (max-width: 798px) {
    header {
        padding: 15px;
    }

    .logo img {
        width: 88px; /* Ajusta el ancho del logo para teléfonos */
    }

    h1.page-title {
        font-size: 1.5rem;
        position: static; /* Quita el posicionamiento absoluto para pantallas más pequeñas */
        transform: none; /* Elimina la transformación para centrar el texto */
        text-align: center; /* Centra el texto del título */
        margin: 0;
    }
    
    main {
        flex-direction: column; /* Coloca los contenedores uno debajo del otro */
        width: 100%;
        padding: 10px;
    }
    
    .left-container {
        width: 100%;
        min-height: auto; /* Ajusta la altura mínima */
        margin-bottom: 10px;
    }
    
    h3.message-default {
        font-size: 22px;
        margin-top: 20px; /* Aumenta el margen superior */
        margin-left: 25px; /* Aumenta el margen izquierdo */
        margin-right: 25px; /* Aumenta el margen derecho */

    }
    
    h4.message-prompt {
        font-size: 21px;
        margin-left: 40px; /* Aumenta el margen izquierdo */
        margin-right: 40px; /* Aumenta el margen derecho */
        margin-bottom: 10px;
    }

    .alert .fas {
        font-size: 14px; /* Ajusta el tamaño del icono si es necesario */
    }

    .alert p {
        font-size: 14px; /* Ajusta el tamaño del texto si es necesario */
    }

    .text-input {
        font-size: 18px; /* Ajusta el tamaño del texto para pantallas más pequeñas */
        min-height: 250px; /* Ajusta la altura mínima */
    }
    
    .button-frame {
        display: flex;
        gap: 20px; /* Espacio entre los botones, ajusta según sea necesario */
        align-items: center; /* Centra los botones horizontalmente */
    }
    
    .right-container {
        width: 100%;
        margin-top: 10px;
    }
    
    .result-image {
        width: 100%;
        height: auto; /* Ajusta la altura automáticamente */
        transform: none; /* Elimina la transformación */
        display: none; /* Oculta la imagen en tablets */

    }
    
    .message-default {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .message-prompt {
        font-size: 20px;
    }
    
    .text-output {
        font-size: 18px;
        min-height: 250px; /* Ajusta la altura mínima */
        margin: 50px;
    }
    
    .copy-btn {
        font-size: 18px;
        padding: 8px 20px;
        transform: none; /* Elimina la transformación */
        margin-top: 10px; /* Añade margen superior si es necesario */
        margin-bottom: 20px;
    }
    
    textarea {
        font-size: 18px;
        padding: 15px;
    }
    
    button {
        font-size: 18px;
        padding: 8px 20px;
    }
    
    footer {
        padding: 10px;
    }
    
    footer p {
        font-size: 0.8rem;
    }
}



/* Media Query para Teléfonos (ancho máximo de 480px) */
@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    .logo img {
        width: 70px; /* Ajusta el ancho del logo para teléfonos */
    }

    h1.page-title {
        font-size: 1.2rem;
        position: static;
        transform: none;
        text-align: center;
    }
    
    main {
        padding: 5px;
    }
    
    .left-container {
        width: 100%;
        margin-bottom: 5px;
    }

    .alert .fas {
        font-size: 12px; /* Ajusta el tamaño del icono si es necesario */
    }

    .alert p {
        font-size: 12px; /* Ajusta el tamaño del texto si es necesario */
    }
    
    .text-input {
        font-size: 16px;
        min-height: 250px;
    }
    
    .button-frame {
        display: flex;
        flex-direction: column; /* Cambia la dirección a columna para apilar los botones */
        gap: 50px; /* Espacio entre los botones, ajusta según sea necesario */
        align-items: center; /* Centra los botones horizontalmente */
        margin-bottom: 50px;
    }
    
    .right-container {
        width: 100%;
        margin-top: 5px;
    }

    h3.message-default {
        font-size: 18px;
        margin-top: 20px; /* Aumenta el margen superior */
        margin-left: 25px; /* Aumenta el margen izquierdo */
        margin-right: 25px; /* Aumenta el margen derecho */

    }
    
    h4.message-prompt {
        font-size: 16px;
        margin-left: 40px; /* Aumenta el margen izquierdo */
        margin-right: 40px; /* Aumenta el margen derecho */
        margin-bottom: 10px;
    }

    .result-image {
        width: 100%;
        height: auto;
        display: none; /* Oculta la imagen */
    }
    
    .message-default {
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .message-prompt {
        font-size: 18px;
    }
    
    .text-output {
        font-size: 16px;
        min-height: 250px;
        margin: 50px;
    }
    
    .copy-btn {
        font-size: 16px;
        padding: 6px 15px;
        margin-bottom: 80px;
    }
    
    textarea {
        font-size: 16px;
        padding: 10px;
    }
    
    button {
        font-size: 16px;
        padding: 6px 15px;
    }
    
    footer {
        padding: 5px;
    }
    
    footer p {
        font-size: 0.7rem;
    }
}
